<html xmlns:th="https://wwww.thymeleaf.org">
<head>
	<title>New Game</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/cssandjs/semantic.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/universal.css}" rel="stylesheet"/>
    <link th:href="@{/styles/cssandjs/newgame.css}" rel="stylesheet"/>
</head>
<body>
	<!-- "recordings": [
    {
      "order": 1, 
      "personNickname": "Jon",
      "personName":"Jonathan Saddler",
      "newScore": 12,
      "gameId": "Scrabble"
    }, -->
	<h1>Scores</h1>
	<div class="viewer ui container">
	<div class="ui grid">
		<div class="twelve wide column">
			<h2 class="subtitle">Create a New Game</h2>
			<form action="#" th:action="@{/game/save}" method="post">
				<fieldset>
					<input type="submit" id="submitBtn" th:value="Create New Game"/>
					<input type="reset" id="resetBtn" th:value="Reset Form"/>
					
					<label for="nameTxt">Name of Game</label>
					<input type="text" th:field="form.gameName" id="nameTxt"/>
					
				</fieldset>
			</form>
		</div>
		<div class="four wide column">
			<h2 class="subtitle">KeptScore</h2>
		</div>
	</div>
	</div>
	<!-- order}">a</td>
					<td th:text="${recording.personNickname}">a</td>
					<td th:text="${recording.newScore}">a</td>
					<td th:text="${recording.gameId}"> -->
</body>
</html>