<html xmlns:th="https://wwww.thymeleaf.org">
<head>
	<title>Scores</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/cssandjs/semantic.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/universal.css}" rel="stylesheet"/>
    <link th:href="@{/styles/cssandjs/viewer.css}" rel="stylesheet"/>
</head>
<body>
	<!-- "recordings": [
    {
      "order": 1, 
      "personNickname": "Jon",
      "personName":"Jonathan Saddler",
      "newScore": 12,
      "gameId": "Scrabble"
    }, -->
	<h1>Scores</h1>
	<div class="viewer ui container">
	<div class="ui grid">
		<div class="twelve wide column">
			<h2 class="subtitle">Scores for Scrabble Game 1</h2>
		</div>
		<table class="ui celled table">
			<tr>
				<th th:each="person: ${recsets.record[0]}" th:text="${person.personNickname}">
					Nickname
				</th>
			</tr>
			<tr th:each="turn : ${recsets.record}">
				<td th:each="person : ${turn}" th:text="${person.score}">
					Score
				</td>
			</tr>
			
		</table>
	</div>
	</div>
	<!-- order}">a</td>
					<td th:text="${recording.personNickname}">a</td>
					<td th:text="${recording.newScore}">a</td>
					<td th:text="${recording.gameId}"> -->
</body>
</html>